.bannerMenuContent, .galleryContent {
    width: 81%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    border: 1px red solid;
}
.channelProfilePic {
    width: 8%;
    height: 75%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.channelInfo { 
    width: ;
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.channelInfo p:first-child {
    font-size: 24px;
}
.channelInfo p:last-child {
    font-size: 15px;
    line-height: 1.5;
    color: gray;
}