.bannerMenuContent, .galleryContent {
    width: 77%;
    height: 100%;
    display: flex;
    flex-flow: row wrap; 
}
.channelProfilePic {
    width: 8%;
    height: 74%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.channelInfo { 
    width: 79%;
    height: 74%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.channelInfo p:first-child {
    font-size: 24px;
}
.channelInfo p:last-child {
    font-size: 15px;
    line-height: 1.5;
    color: gray;
}
.subscribe {
    width: 13%;
    height: 74%;
    display: flex;
    align-items: center;
}
.subscribe button {
    width: 78%;
    height: 40%;
    border-radius: 0%;
    border: none;
    text-transform: uppercase;
}
.subscribe div {
    width: 22%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bannerMenuContent nav {
    height: 26%;
    width: 70%;
    border: 1px blue solid;
}
.bannerMenuContent nav ul li {
    display: inline;
    padding: 0% 3.1% 0% 3.1%;
    line-height: 1.6;
    font-family: 'Roboto-bold', sans-serif;
    font-size: 15px;
    text-transform: uppercase;
}