.menuLeft {
    width: 10vw;
    display: flex;
    align-items: center;
    align-self: flex-start;
    border: 2px orange solid;
}
.menuLeft i {
    padding: 7%;
}
.search {
    align-self: center;
    width: 16vw;
}

.menuRight {
    width: 10vw;
    display: flex;
    justify-content: space-evenly;
    border: 2px yellowgreen solid;
    }