i {
    
}
.searchLeft {
    width: 12%;
    height: 100%;
    padding-left: 1.35%;
    display: flex;
    align-items: center;
} 
.dropDown {
    width: 9.5%;
    height: 2.5vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.burger {
    width: 100%;
    border-bottom: 1px black solid;
}
.search {
    width: 38%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search div:first-child {
    width: 92%;
}
input[type=search] {
    width: 92%;
    height: 4vh;
    padding: 1.7%;
}
input[type=search] + button {
    width: 8%;
    height: 4vh;
    margin-left: -0.7%;
}
input[type=search], input[type=search] + button {
    border-radius: 0%;
    border-style: solid;
    border-width: 1px;
    border-color: lightgray;
    font-size: 16px; 
}
.search div:last-child {
    width: 8%;
    display: flex;
    justify-content: center;
}
.searchRight {
    width: 14vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.menuLeft {
    display: flex;
    align-items: center;
    line-height: 2.8;
}
.menuLeft div {
    width: 77%;
    padding-top: 6%;
}
.menuLeft ul {
    margin: 0;
    list-style: none;
}
ul i {
    margin-right: 14%;
}
div > span {
    color: rgb(97, 93, 93);
}
