.searchLeft {
    width: 10vw;
    display: flex;
    align-items: center;
    align-self: flex-start;
    border: ;
} .searchLeft i, ul i, h3 {
    padding: 8%;
}
.search {
    align-self: center;
    width: 16vw;
}
.searchRight {
    width: 10vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: ;
    }
    .leftMenu {
        
    }