@import url("./menu.css");
@import url("./logos.css");
@import url("./var.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    transition: 0.2s;
}
:root {
    font-size: 16px;
}
body {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 0.3fr 2fr;
    grid-template-rows: 0.5fr 9.5fr;
    grid-template-areas:
        "topbar topbar"
        "sidebar mainContent";
}
header {
    height: 6vh;
    width: 100%;
    grid-area: topbar;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px green ;

.menuLeft {
    grid-area: sidebar;
    background-color: ;
}
.mainContent {
    grid-area: mainContent;
}
.banner {
    background-color: ;
    color: white;
}


