@import url("./menu.css");
@import url("./images.css");
@import url("./var.css");
@import url("./main-content.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    transition: 0.2s;
}
:root {
    font-size: 16px;
}
body {
    width: 100%;
    display: grid;
    grid-template-columns: 13% 87%;
    grid-template-rows: 6vh 27% 14% 59%;
    grid-template-areas:
        "header header"
        "sideMenu banner"
        "sideMenu bannerMenu"
        "sideMenu gallery";
    font-family: 'Roboto', sans-serif;
    font-size: 13.8px;
    font-weight: 600;
}
header {
    height: 6vh;
    width: 100%;
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menuLeft {
    grid-area: sideMenu;
    display: flex;
    flex-direction: column;
}
.bannerImage {
    grid-area: banner;
}
.bannerMenu {
    grid-area: bannerMenu;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(250, 249, 249);
}
.gallery {
    grid-area: gallery;
    display: flex;
    justify-content: center;
    background-color: rgb(238, 236, 236);
}


